<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Issue Tracker API</title>

    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />

    <link rel="stylesheet" href="/public/style.css" />
  </head>

  <body>
    <main class="container">
      <h1>Issue Tracker API</h1>
      <p>A simple RESTful service for tracking issues.</p>

      <code>/api/issues/:project</code>
    </main>
  </body>
</html>
